<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidc22.socialmedic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TelaMenu" />
        <activity android:name=".TelaMedicos" />
        <activity android:name=".TelaFavoritos" />
        <activity android:name=".TelaHospitais" />
        <activity android:name=".TelaAvaliacao" />
        <activity android:name=".TelaEsqueceuSenha" />
        <activity android:name=".TelaCadastro" />
        <activity android:name=".TelaHospitaisPerfil" />
        <activity android:name=".TelaMedicosPerfil" />
        <activity android:name=".TelaAgendarConsulta" />
        <activity android:name=".AdicionarReceitas"></activity>
    </application>

</manifest>